@page
@model CIS560Project.Pages.AdminModel
@{
}

<form>
    <div>
        <h1>Add Player</h1>
        <label for="first">First Name:</label>
        <input type="text" id="first" name="First" />
        <label for="last">Last Name:</label>
        <input type="text" id="last" name="Last" />
    </div>




</form>
