/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    text-align: center;
    margin: auto;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#filters {
    display: flex;
    flex-direction: column;
}
#filters > *{
    text-align:center;
    margin: auto;
    padding: 1%;
}

#name-search{
    display:flex;
    flex-direction:row;
}
#name-search > *{
    padding-left:1%;
    padding-right:1%;
}

#homepage-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: inset;
    border-top: inset;
    border-top-color: black;
    border-bottom-color: black;
}

#homepage-container > * {
}

#filters input[type=number] {
    width: 4rem;
}

#filters h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


table,
th,
td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
      
table,
th,
td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
